html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    background: #111;
}

.box {
    position: absolute;
    color: white;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 0.75vw;
}

/* Top row */

.top-left {
    width: 40%;
    height: 10%;
    top: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.05);
}

.label{
    margin: 0.5em;
    height: 1.5em;
    background: rgba(128, 128, 128, 0.5);
}

.output{
    margin: 0.5em;
    height: 1.5em;
    padding: 0.3em;
    padding-top: 0.5em;
    background: rgba(128, 128, 128, 0.5);
}

.top-center {
    top: 0;
    left: 50%; /* center horizontally */
    background: rgba(0, 255, 0, 0.25);
}

.top-right {
    top: 0;
    right: 0;
    width: 2.5%;
    height: 5%;
    background: rgba(0, 0, 255, 0.25);
}

/* Middle row */
.left-center {
    top: 50%; /* center vertically */
    left: 0;
    width: 15%;
    background: rgba(128, 128, 128, 0.05);
}

.center {
    top: 50%;   /* center vertically */
    left: 50%;  /* center horizontally */
    background: rgba(255, 255, 255, 0.25);
}

.right-center {
    top: 50%;   /* center vertically */
    right: 0;
    width: 10%;
    height: 40%;
    background: rgba(0, 255, 255, 0.25);
}

/* Bottom row */
.bottom-left {
    bottom: 0;
    left: 0;
    width: 15%;
    height: 50%;
    background: rgba(128, 128, 128, 0.05);
}

.bottom-center {
    bottom: 0;
    left: 50%; /* center horizontally */
    width: 5%;
    height: 5%;
    background: rgba(0, 0, 0, 0.25);
}

.bottom-right {
    bottom: 0;
    right: 0;
    width: 15%;
    height: 25%;
    background: rgba(128, 128, 128, 0.05);
}

.type{
    background: rgba(0, 128, 128, 0.1)
}

.value{
    background: rgba(128, 128, 0, 0.1)
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    padding: .5em;
}

th {
    background: rgba(255, 0, 0, 0.1)
}